header {
  background-color: var(--primary-background);
  height: var(--header-height);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  .header__searchIcon {
    fill: var(--search-icon-color);
  }
  .header__leftSearchIcon {
    background-color: var(--secondary-icon-background);
  }
  .header__centerItem {
    max-width: 111.6px;
    width: 15%;
    min-width: 50px;
    flex-shrink: 1;
    &:not(.header__centerItem--active) {
      border-radius: 10px;
      border-bottom: solid 3px var(--primary-background);
    }
  }
  .header__centerItem svg {
    fill: var(--primary-text-color);
  }
  .header__centerItem--active {
    border-bottom: solid 3px var(--primary-button-background);
  }
  .header__centerItem--active svg {
    fill: var(--primary-button-background);
  }

  .header__rightItem {
    background-color: var(--secondary-icon-background);
  }
}
