.setting__userProfile {
  & .avatar {
    width: 70px;
    height: 70px;
  }
  padding: 0;
}
.setting__theme {
  & .avatar {
    color: var(--primary-text);
    width: 50px;
    height: 50px;
    & svg {
      width: 23px;
      height: 23px;
    }
  }
}
.glyphicon-moon:before {
  content: "";
}

.glyphicon-sunf::after {
  content: "";
}
/* toggle */
.themeToggle__toggler {
  --switch-bg: #1e7c0d;
  --switch-color: #0f5103;

  border: solid var(--switch-bg) 12px;
  outline: none;
  border-radius: 12px;
  width: 70px;
  height: 35px;
  position: relative;
  background-color: var(--switch-bg);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.themeToggle--active {
  --toggle-left: calc(100% - 15px);
  --toggle-active-color: #fff;
}
.themeToggle__toggler .glyphicon-moon::before,
.themeToggle__toggler .glyphicon-sunf::after {
  display: none;
}
.themeToggle__toggler:not(.themeToggle--active) i.glyphicon-sunf::after,
.themeToggle--active i.glyphicon-moon::before {
  display: inline-block;
}

.themeToggle__toggleBar {
  border: solid var(--switch-color) 3px;
  outline: none;
  border-radius: 12px;
  width: 90%;
  background-color: var(--toggle-active-color, var(--switch-color));
  position: absolute;
  left: 0;
  height: 15px;
  color: #fff;
  transition: all 50ms ease-in-out;
  display: flex;
}
.themeToggle__toggleBar > i {
  background: var(--switch-color);
  transform: scale(1) translateY(-50%);
  box-shadow: 0px 0px 2px 1px var(--switch-color);
  padding: 1px;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: var(--toggle-left, 0);
  transition: left 150ms ease-in-out;
}
