.sidebar {
  max-height: calc(100vh - var(--header-height));
  position: sticky;
  top: var(--header-height);
  left: 0;
  overflow-y: auto;
}
.sidebar__footer {
  font-size: small;
}
@media (max-height: 600px) {
  .sidebar {
    .sidebar__item .avatar {
      transform: scale(0.77777777);
    }
  }
}
